<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.mapper.parameter.ParameterMapper">



<!-- 查询 -->
	<select id="queryParameterInfo" resultType="Parameter" parameterType="Parameter">
	    select t.account_type as accountType,
	    	t.account_name as accountName,
	    	t.search_type as searchType,
	    	t.report_id as reportId,
	   t.account_date as accountDate
	    	from t_parameter t 
	</select>
	
	<!-- 新增 -->
	<insert id="insertParameterInfo" parameterType="Parameter">
		insert into t_parameter 
		(account_name,account_type,account_date,account_pwd,token)
		values
		(#{accountName},#{accountType},#{accountDate},#{accountPwd},#{token})
	</insert>
	
	<!-- 新增 -->
	<insert id="insertParameterInfo2" parameterType="Parameter">
		insert into t_parameter 
		(report_id,report_id_date,report_state,report_state_date,report_url,report_url_date)
		values
		(#{reportId},#{reportIdDate},#{reportState},#{reportStateDate},#{reportUrl},#{reportUrlDate})
	</insert>
	
</mapper>
