<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.mapper.account.AccountMapper">



<!-- 查询 -->
	<select id="queryUserInfo" resultType="Account" parameterType="Account">
	    select b.account_id as accountId,
		b.account_name as accountName,
		b.account_pwd as accountPwd,
		b.enabled_info_flow as enabledInfoFlow,
		b.token as token,
		b.account_status as accountStatus,
		t.account_type_id as accountTypeId,
		t.account_type as accountType
		from t_account b
		left join t_accounttype t on b.account_type_id = t.account_type_id
		<where>
			<if test="null != accountName and '' != accountName">
				and b.account_name like '%' || #{accountName} || '%'
			</if>
			and b.account_status = 0
		</where>
	</select>
	<!-- 禁用列表查询 -->
	<select id="queryDisabledlist" resultType="Account" parameterType="Account">
	    select b.account_id as accountId,
		b.account_name as accountName,
		b.account_pwd as accountPwd,
		b.enabled_info_flow as enabledInfoFlow,
		b.token as token,
		b.account_status as accountStatus,
		t.account_type_id as accountTypeId,
		t.account_type as accountType
		from t_account b
		left join t_accounttype t on b.account_type_id = t.account_type_id
		<where>
			<if test="null != accountName and '' != accountName">
				and b.account_name like '%' || #{accountName} || '%'
			</if>
			and b.account_status = 1
		</where>
	</select>
	
	<!-- 新增 -->
	<insert id="insertUserInfo" parameterType="Account">
		insert into t_account
		(account_id,account_name,account_pwd,account_status,enabled_info_flow,account_type_id,token)
		values
		(seq_stu.nextval,#{accountName},#{accountPwd},0,#{enabledInfoFlow},#{accountTyleId},"test")
	</insert>
	
	<!-- 修改 回显-->
	<select id="selectUserByID" parameterType="Account" resultType="Account">
		select 
		b.account_pwd as accountPwd,
		b.account_id as accountId
		from t_account b
		where b.account_id = #{accountId}
	</select>
	<!--修改用户密码  -->
	<update id="updateUserInfo" parameterType="Account">
		update t_account t  set
		 t.account_pwd = #{accountPwd}
		 where t.account_id = #{accountId}
    </update>
	

	<!-- 禁用/启用-->
	<delete id="deleteUser">
			update t_account set account_status = 1

		where account_id in
		<foreach collection="userIdsList" item="ids" separator=" , " open=" ( " close=" ) ">
		    #{ids}
		</foreach>
	</delete>
	<delete id="deleteUser1">
			update t_account set account_status = 0

		where account_id in
		<foreach collection="userIdsList" item="ids" separator=" , " open=" ( " close=" ) ">
		    #{ids}
		</foreach>
	</delete>
	<!-- 类型下拉框查询 -->
	<select id="queryAccountType" resultType="Account" parameterType="Account">
		select t.account_type as accountType,t.account_type_id as accountTypeId	
		from  t_accounttype t 
	
	</select>
	<!-- 开启关闭服务流 -->
	<update id="updateEnabledInfoFlow" parameterType="Account">
		<if test="1 == enabledInfoFlow">
			update t_account set enabled_info_flow = 2 where account_id = #{accountId}
		</if>
		<if test="2 == enabledInfoFlow">
			update t_account set enabled_info_flow = 1 where account_id = #{accountId}
		</if>
	</update>
	
</mapper>
